<template>
    <section>
        <div class="text-center">
            <v-pagination
                    v-model="currentpage"
                    v-bind:length="lastPage"
                    v-bind:total-visible="9"
                    color="#000"
                    class="mtgjson-pagination"
            ></v-pagination>
        </div>
        <Mtgcard
            v-for="item in items"
            :key="item.id"
            :mtgcard="item"
        />
        <div class="text-center">
            <v-pagination
                    v-model="currentpage"
                    v-bind:length="lastPage"
                    v-bind:total-visible="9"
                    color="#000"
                    class="mtgjson-pagination"
            ></v-pagination>
        </div>
    </section>
</template>

<script>
    import Mtgcard from '../components/Mtgcard';
    import {debounce} from 'lodash';

    export default {
        name: 'Mtgjson',
        components: {
            Mtgcard,
        },
        props: {

        },
        data: () => ({
            items: [],
            lastPage: 0,
        }),
        computed: {
            keywords() {
                return this.$store.state.keywords
            },
            currentpage: {
                get() {
                    return this.$store.state.currentpage
                },
                set(value) {
                    this.$store.commit('setCurrentpage', value);
                },
            },
        },
        methods: {
            async fetchItems () {
                let fetch_url = `http://192.168.1.133/caketest/api/full-text/search`;
                if (this.keywords) { fetch_url+= `?keywords=${this.keywords}` }
                const response = await window.axios.get(fetch_url)
                this.items = response.data.card_data;
                this.lastPage = response.data.result_total_page;
            },
        },
        watch: {
            $route: {
                async handler () {
                    await this.fetchItems()
                },
                immediate: true
            },
            'currentpage': function (newNumber) {
                this.$router.push({name: this.name, query: {page: newNumber}});
            },
            'keywords': debounce(function () {
              this.$router.push({name: this.name, query: {keywords: this.$store.state.keywords}});
            }, 500),
        },
        mounted: function(){

        }
    };
</script>

<style lang="scss">

</style>
