<template>
    <v-footer
        class="py-4"
        dark
        width="100%"
    >
        <v-spacer></v-spacer>
        <div>
            &copy; {{ new Date().getFullYear() }} - <strong>MtgJson API</strong>
        </div>
        <v-spacer></v-spacer>
    </v-footer>
</template>

<script>
    export default {
        name: "Footer",
        data: () => ({

        }),
    }
</script>

<style scoped>

</style>
