<template>
    <div>
        <v-app-bar
            fixed
            dark
            hide-on-scroll
            height="128px"
            scroll-threshold="104"
        >

            <v-app-bar-nav-icon @click="clickNavIcon"></v-app-bar-nav-icon>

            <SearchBox/>

        </v-app-bar>
    </div>
</template>

<script>
    import SearchBox from "../components/SearchBox";
    export default {
        name: "Header",
        components: {
            SearchBox
        },
        props: {

        },
        data: () => ({

        }),
        computed: {
        },
        methods: {
            clickNavIcon () {
                this.$store.commit('setDrawer', !this.$store.state.drawer)
            },
        },
    }
</script>

<style lang="scss" scoped>
    @import '~vuetify/src/styles/styles.sass';

    .theme--dark {
        &.v-app-bar {
            &.v-toolbar {
                &.v-sheet {
                    background-color: map-get($material-dark-elevation-colors, '1');
                }
            }
        }
    }
</style>
