<template>
    <v-card
        class="my-2"
        light
        outlined
        tile
    >
        <v-card-text>
            <div class="subtitle-2">{{mtgcard.code}} {{mtgcard.id}}</div>
            <div class="display-1 text--primary" v-if="$vuetify.breakpoint.mdAndUp">
                {{mtgcard.name}}<br>
                {{mtgcard.name_jp}}<small class="subtitle-1">{{mtgcard.name_kana}}</small>
            </div>
            <div class="display-1 text--primary" v-else>
              {{mtgcard.name}}<br>
              {{mtgcard.name_jp}}<br>
              <small class="subtitle-1">{{mtgcard.name_kana}}</small>
            </div>
            <v-divider
                    class="my-4"
            ></v-divider>
            <div class="body-1">
              <span class="attribute-label">borderColor</span> : {{mtgcard.borderColor}} /
              <span class="attribute-label">color</span> : {{mtgcard.color}} /
              <span class="attribute-label">colorIdentity</span> : {{mtgcard.colorIdentity}} /
              <span class="attribute-label">colors</span> : {{mtgcard.colors}} /
              <span class="attribute-label">faceName</span> : {{mtgcard.faceName}} /
              <span class="attribute-label">frameVersion</span> : {{mtgcard.frameVersion}} /
              <span class="attribute-label">keywords</span> : {{mtgcard.keywords}} /
              <span class="attribute-label">layout</span> : {{mtgcard.layout}} /
              <span class="attribute-label">Rarity</span> : {{mtgcard.rarity}} /
              <span class="attribute-label">side</span> : {{mtgcard.side}} /
              <span class="attribute-label">subtypes</span> : {{mtgcard.subtypes}} /
              <span class="attribute-label">supertypes</span> : {{mtgcard.supertypes}} /
              <span class="attribute-label">type</span> : {{mtgcard.type}} /
              <span class="attribute-label">type_jp</span> : {{mtgcard.type_jp}} /
              <span class="attribute-label">types</span> : {{mtgcard.types}} /
            </div>
            <div class="body-1 mt-4">
              <span class="attribute-label">flavorText</span> : {{mtgcard.flavorText}}<br>
              <span class="attribute-label">flavorText_jp</span> : {{mtgcard.flavorText_jp}}<br>
              <span class="attribute-label">text</span> : {{mtgcard.text}}<br>
              <span class="attribute-label">text_jp</span> : {{mtgcard.text_jp}}<br>
            </div>
        </v-card-text>
    </v-card>
</template>

<script>
    export default {
        name: "Mtgcard",
        props: {
            mtgcard: {
                type: Object,
                required: true,
            }
        }
    }
</script>

<style scoped lang="scss">
  .attribute-label {
    font-weight: bold;
  }
</style>
