<template>
  <v-autocomplete
      v-model="model"
      :items="items"
      :loading="isLoading"
      :search-input.sync="search"
      autofocus
      clearable
      color="white"
      item-text="name_jp"
      item-value="id"
      label="MtgJson API"
      no-filter
      placeholder="Start typing to Search"
      return-object
      @keydown.enter="enterkeyEvent"
  ></v-autocomplete>
</template>

<script>
export default {
  name: "SearchBox",
  data: () => ({
    descriptionLimit: 60,
    entries: [],
    isLoading: false,
    model: null,
    search: null,
  }),
  computed: {
    items () {
      return this.entries.map(entry => {
        // const Description = entry.Description.length > this.descriptionLimit
        //     ? entry.Description.slice(0, this.descriptionLimit) + '...'
        //     : entry.Description

        return Object.assign({}, entry)
      })
    },
  },
  methods: {
    enterkeyEvent: function () {
      // keyCodeが13と229の場合に発火させる
      this.$store.commit('setKeywords', this.search)
    },
  },
  watch: {
    search (val) {
      // console.log(val);

      // Items have already been loaded
      //if (this.items.length > 0) return

      // Items have already been requested
      if (this.isLoading) return

      this.isLoading = true


      // Lazily load input items
      fetch('http://192.168.1.133/caketest/api/full-text/search?keywords=' + val)
          .then(res => res.json())
          .then(res => {
            const { count, card_data } = res
            this.count = count
            this.entries = Object.values(card_data)
          })
          .catch(err => {
            console.log(err)
          })
          .finally(() => (this.isLoading = false))
    },
  },
}
</script>

<style lang="scss" scoped>

</style>
