<template>
    <v-navigation-drawer
        v-model="drawer"
        app
        clipped
        temporary
    >
        <v-list
            dense
        >
            <v-list-item
                link
                @click.stop="closeDrawer"
            >
                <v-list-item-content>
                    <v-list-item-content>
                        <v-list-item-title class="grey--text">
                            Close
                        </v-list-item-title>
                    </v-list-item-content>
                </v-list-item-content>
                <v-list-item-action>
                    <v-icon>mdi-chevron-left</v-icon>
                </v-list-item-action>
            </v-list-item>
            <v-divider
                    dark
                    class="mt-2 mb-4"
            ></v-divider>
            <template v-for="(sidemenu, i) in sidemenus">
                <v-row
                        v-if="sidemenu.heading"
                        :key="i"
                        align="center"
                >
                    <v-col cols="6">
                        <v-subheader v-if="sidemenu.heading">
                            {{ sidemenu.heading }}
                        </v-subheader>
                    </v-col>
                    <v-col
                            cols="6"
                            class="text-right"
                    >
                        <v-btn
                                small
                                text
                        >edit</v-btn>
                    </v-col>
                </v-row>
                <v-divider
                        v-else-if="sidemenu.divider"
                        :key="i"
                        dark
                        class="my-4"
                ></v-divider>
                <v-list-item
                        v-else-if="sidemenu.link"
                        :key="i"
                        link
                >
                    <v-list-item-action>
                        <v-icon>{{ sidemenu.icon }}</v-icon>
                    </v-list-item-action>
                    <v-list-item-content>
                        <v-list-item-content>
                            <v-list-item-title class="grey--text">
                                <router-link :to="sidemenu.link">{{ sidemenu.text }}</router-link>
                            </v-list-item-title>
                        </v-list-item-content>
                    </v-list-item-content>
                </v-list-item>
                <v-list-item
                        v-else
                        :key="i"
                        link
                >
                    <v-list-item-action>
                        <v-icon>{{ sidemenu.icon }}</v-icon>
                    </v-list-item-action>
                    <v-list-item-content>
                        <v-list-item-content>
                            <v-list-item-title class="grey--text">
                                {{ sidemenu.text }}
                            </v-list-item-title>
                        </v-list-item-content>
                    </v-list-item-content>
                </v-list-item>
            </template>
        </v-list>
    </v-navigation-drawer>
</template>

<script>
    export default {
        name: "Sidemenu",
        props: {
            drawer: {
                type: Boolean,
                required: false,
                default: false,
            },
        },
        data: () => ({
            sidemenus: [
                { icon: 'lightbulb_outline', text: 'カードを探す', link: '/mtgjson' },
                { icon: 'touch_app', text: 'カードを探す', link: '/mtgjson' },
            ],
        }),
        methods: {
            closeDrawer () {
                this.$store.commit('setDrawer', !this.$store.state.drawer)
            },
        },
    }
</script>

<style scoped>

</style>
