<template>
  <v-app id="keep">

    <Header />

    <Sidemenu
      v-bind:drawer="$store.state.drawer"
    />

    <v-main class="main-content">
      <v-container
        class="main-container"
      >
        <RouterView/>
      </v-container>
    </v-main>
    <Footer/>
  </v-app>
</template>

<script>
  import Footer from "./components/Footer";
  import Header from "./components/Header";
  import Sidemenu from "./components/Sidemenu";

  export default {
    name: 'App',
    components: {
      Footer,
      Header,
      Sidemenu,
    },
    props: {

    },
    data: () => ({

    }),
    methods: {

    },
  };
</script>

<style lang="scss">
  .v-toolbar__content {
    margin: auto;
    max-width: 1158px;
  }

  .main-content {

  }

  .main-container {
    margin-top: 8rem;
  }

  @media (min-width: 1904px) {
    .main-container {
      max-width: 1185px;
    }
  }
</style>
