
@import '~vuetify/src/styles/styles.sass';

.mtgjson-pagination {
  .v-pagination {
    &.theme--light {
      .v-pagination {
        &__item {
          border-radius: 0;
          box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, .8);
          color: #000;
          &:focus {
            outline: none;
          }
          &--active {
            color: #FFF;
          }
        }

        &__navigation {
          border-radius: 0;
          box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, .8);
          color: #000;
          &:focus {
            outline: none;
          }
          .v-icon {
            color: #000;
          }
        }
      }
    }
  }
}
